body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
.logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text
{
  text-align: right;
}
.heading
{
  font-size:30px;
  letter-spacing: 2px;
}
.input-icons i 
{
  position: absolute;
}      
.input-icons 
{
  width: 100%;
  margin-bottom: 10px;
}          
.icon 
{
  padding: 10px;
  color: black;
  min-width: 50px;
  text-align: center;
} 
.input-field 
{
  width: 100%;
  padding: 10px;
  text-align: center;
}
.input-field1
{
  width: 32%;
  padding: 10px;
  text-align: center;
  
}
a
{
    display: inline;
}
.tick
{
  accent-color: orange;
  float:left;
}
#social-platforms 
{
  position:relative;
  top:100px;
  top:25vh;
  margin-top: -4cm;
  font-size:1rem;
  text-align:center;
  height:250px;
  overflow:hidden;
}
.btn 
{
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.btn:hover 
{
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus 
{
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i 
{
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span 
{
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span 
{
  background:#9a9a9a
}

.btn-icon > i 
{
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after 
{
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i 
{
  color:#FFF
}

.btn-icon > span 
{
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i 
{
  color:#3b5998
}

.btn-facebook > span 
{
  background:#3b5998
}
/*Google*/
.btn-google:hover > i,.btn-google:focus > i 
{
  color:#dd4b39
}

.btn-google > span 
{
  background:#dd4b39
}
/*Apple*/
.btn-apple:hover > i,.btn-apple:focus > i 
{
  color:darkgrey
}

.btn-apple > span 
{
  background:darkgray
}
.container 
{
 display: flex;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

.image 
{
  max-width: 200%;
  max-height:200%;
  float: right;
}

.input-field1 a:hover{
  color: #21C323;
}
