body {
    background-position: center;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    color: #505050;
    font-family: "Rubik",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none;
}

    
    /* Add padding to containers */
    .container {
      padding: 16px;
      background-color: white;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for the submit button */
    .registerbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .registerbtn:hover {
      opacity: 1;
    }
    
    /* Add a blue text color to links */
    a {
      color: dodgerblue;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
      background-color: #f1f1f1;
      text-align: center;
    }

    #navbar{
        margin: 0;
        padding: 0;
        height: 100px;
        background-color: aqua;
        margin: 2px solid black;
        padding: 1px;
      }
      
      .nav_option{
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: lighter;
        padding: 5px;
        margin: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline;
        float: left;
        padding-left: 40px;
      }
      
      .search{
        margin:0;
        padding:0;
        float:right;
      }
      
      
      .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
      position: relative;
      display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
      color: black;
      padding: 10px 14px;
      margin-right: 5px;
      text-decoration: none;
      display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
      display: block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
      background-color: #3e8e41;
      }
      
      .image{
      margin: 0;
      padding: 0;
      }
    

      .helpline-nav {
        background-color: #333;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        float:right;
      }
    
      .helpline-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
      }
      
      .helpline-nav li {
        margin: 0 10px;
      }
      
      .helpline-nav a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        line-height: 40px;
      }
      
      .helpline {
        background-color: #f00;
        padding: 0 5px;
        border-radius: 2px;
      }
    